altgraph==0.17.3
annotated-types==0.5.0
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
blinker==1.4
cffi==1.15.1
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
decorator==5.1.1
distro==1.7.0
distro-info===1.1build1
executing==1.2.0
future==0.18.3
httplib2==0.20.2
importlib-metadata==4.6.4
ipython==8.14.0
jedi==0.18.2
jeepney==0.7.1
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.9.3
matplotlib-inline==0.1.6
MAVProxy==1.8.62
more-itertools==8.10.0
nest-asyncio==1.5.6
netifaces==0.11.0
numpy==1.25.1
oauthlib==3.2.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==2.0.2
pydantic_core==2.1.2
Pygments==2.15.1
PyGObject==3.42.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyJWT==2.3.0
pymavlink==2.4.39
pynq==3.0.1
pynqmetadata==0.1.5
pynqutils==0.1.1
pyparsing==2.4.7
pyserial==3.5
python-apt==2.4.0+ubuntu1
python-magic==0.4.27
PyYAML==5.4.1
referencing==0.29.1
rpds-py==0.8.10
SecretStorage==3.3.1
six==1.16.0
ssh-import-id==5.11
stack-data==0.6.2
systemd-python==234
tqdm==4.65.0
traitlets==5.9.0
trash-cli==0.17.1.14
typing_extensions==4.7.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
wadllib==1.3.6
wcwidth==0.2.6
zipp==1.0.0
